.select-button {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: hsl(351, 90%, 59%);
  padding: 13px 55px;
  border: 1px solid #F53855;
  border-radius: 50px;
  transition: all 0.3s ease 0s;

}

.select-button:hover {
  background-color:#F53855;
  color: #fff;
}
/*--------------------*/
.social {
  display: flex;
  align-items: center;
  gap: 24px;
}

.social__link {
  background-color: #ffffff;
  flex: 0 0 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease 0s;
}

.social__link img {
  background-color: #F53855
}

.social__link:hover {
  background-color: hsl(351, 90%, 59%);
}

.social__link svg:hover {
  fill:white;
}

@media (max-width: 767.98px) {
  .social {
    justify-content: center;
  }
}
/*--------------------*/
.start-button{
  padding: 17.5px 77.5px;
  color: #fff;
  line-height: 25px;
  font-weight: bold;
  background-color:#F53855;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}

.start-button:hover {
  background-color: #fff;
  color: #F53855;
  border: 1px solid #F53855;
}